---
import { Picture } from "astro:assets";

import leftImg from "~/assets/images/left-plants.svg";
import imageShop from "~/assets/images/loja.jpeg";
import rightImg from "~/assets/images/right-plants.svg";
---

<div
  id="about-us"
  class="relative flex h-screen flex-col items-center justify-center gap-10 px-4 lg:flex-row"
>
  <Picture
    class="w-[350px] rounded-lg object-cover md:w-[520px]"
    src={imageShop}
    alt="A description of my image."
  />

  <Picture
    src={leftImg}
    height={500}
    alt="left-plants-image"
    class="absolute bottom-0 left-0 -z-10 hidden opacity-25 xl:flex"
  />

  <Picture
    src={rightImg}
    height={600}
    alt="left-plants-image"
    class="absolute bottom-0 right-0 -z-10 hidden opacity-25 xl:flex"
  />

  <div class="flex flex-col gap-4 md:gap-0">
    <h1 class="text-center text-3xl font-bold lg:text-left">
      <span class="text-primary">CONHEÇA A</span>
      <span class="block text-secondary md:inline">DIVINA TERRA</span>
    </h1>
    <p
      class="w-[350px] text-justify md:w-full md:whitespace-pre-line md:text-left"
    >
      A Divina Terra é referência em alimentação saudável, sendo uma franquia
      com mais de 80 lojas no Brasil. Oferecemos uma ampla linha de produtos
      naturais e suplementos cuidadosamente selecionados. Com foco na qualidade
      impecável, nossa linha de produtos naturais a granel é a mais completa do
      mercado.
      <!--  -->
       Trabalhamos somente com as melhores marcas, como: Essential, Vitafor,
      Pura Vida, Nutrify, True Source, Ocean Drop, Moderação, Caffeine Army,
      Dux, entre outros. Todos os fornecedores são cuidadosamente selecionados
      por nosso time de nutricionistas.
      <!--  -->
       A Divina Terra acredita que a chave para o equilíbrio entre corpo, mente
      e espírito está na alimentação.
    </p>
  </div>
</div>
