---
import { cn } from "@fellipeutaka/styles";

type Props = {
  title: string;
  content: string;
  horizontalInvertion?: boolean;
};

const { title, content, horizontalInvertion } = Astro.props;
---

<div
  class={cn(
    "flex items-center gap-8",
    horizontalInvertion ? "flex-row-reverse text-right" : "flex-row text-left",
  )}
>
  <div
    class="flex h-16 w-16 flex-row-reverse items-center justify-center rounded-full border border-primary bg-gray-100 xl:h-32 xl:w-32"
  >
    <slot name="icon" />
  </div>
  <div>
    <p class="font-bold uppercase">{title}</p>
    <p class="w-[38ch] text-xs text-zinc-600 xl:text-base">{content}</p>
  </div>
</div>
