---
import { Picture } from "astro:assets";
import {
  DnaIcon,
  FlaskConicalOffIcon,
  MilkIcon,
  WheatIcon,
  RecycleIcon,
  VeganIcon,
  BrainIcon,
} from "lucide-react";

import omega3 from "~/assets/images/omega.png";
import whey from "~/assets/images/whey.png";

import Benefit from "./benefit.astro";
---

<section class="w-full">
  <div class="flex h-screen flex-col items-center justify-center gap-8">
    <h1 class="text-center text-xl lg:text-3xl">
      Sobre o <span class="font-bold text-primary">Whey Protein</span>
    </h1>
    <div
      class="flex w-full flex-col items-center justify-center gap-6 2xl:flex-row"
    >
      <Picture
        src={whey}
        alt="whey"
        class="h-44 w-44 transition-all duration-200 ease-linear lg:h-[300px] lg:w-[300px] xl:h-[350px] xl:w-[350px] 2xl:h-[500px] 2xl:w-[500px]"
      />

      <div class="flex flex-col gap-12 lg:flex-row">
        <div class="flex flex-col gap-12">
          <Benefit
            title="Aminoácidos imbatíveis"
            content="5,0g de BCAAs; 2,5g de glutamina, 2,5g de leucina, por dose."
          >
            <DnaIcon slot="icon" className="h-8 w-full text-primary 2xl:h-14" />
          </Benefit>
          <Benefit
            title="Sem aditivos"
            content="Não contém goma xantana, complexos vitamínicos à base de maltodextrina, espessantes, estabilizantes, conservantes ou qualquer outro ingrediente inferior."
          >
            <FlaskConicalOffIcon
              slot="icon"
              className="h-8 w-full text-primary 2xl:h-14"
            />
          </Benefit>
        </div>

        <div class="flex flex-col gap-12">
          <Benefit
            content="Possui um perfil nutricional completo e um sabor real."
            title="Proteína concentrada"
          >
            <MilkIcon
              slot="icon"
              className="h-8 w-full text-primary 2xl:h-14"
            />
          </Benefit>

          <Benefit
            content="Valores nutricionais robustos, sem excessos, com quantidades ideais de carboidratos e gorduras do leite."
            title="Produzida sob-medida"
          >
            <WheatIcon
              slot="icon"
              className="h-8 w-full text-primary 2xl:h-14"
            />
          </Benefit>
        </div>
      </div>
    </div>
  </div>

  <!--  -->

  <div class="flex h-screen flex-col items-center justify-center gap-8">
    <h1 class="text-center text-xl lg:text-3xl">
      Sobre o <span class="font-bold text-primary">Omega 3</span>
    </h1>
    <div
      class="flex w-full flex-col-reverse items-center justify-center gap-6 2xl:flex-row"
    >
      <div class="flex flex-col gap-12 lg:flex-row">
        <div class="flex flex-col gap-12">
          <Benefit
            horizontalInvertion
            title="Sustentável"
            content="O ômega 3 vegano da alga Schizochytrium tem a mesma molécula encontrada em outras fontes de ômega 3, como o óleo de peixes, moluscos e crustáceos."
          >
            <RecycleIcon
              slot="icon"
              className="h-8 w-full text-primary 2xl:h-14"
            />
          </Benefit>
          <Benefit
            horizontalInvertion
            title="Livre de contaminantes"
            content="Feito por meio de um processo biotecnológico avançado em ambiente controlado."
          >
            <FlaskConicalOffIcon
              slot="icon"
              className="h-8 w-full text-primary 2xl:h-14"
            />
          </Benefit>
        </div>

        <div class="flex flex-col gap-12">
          <Benefit
            horizontalInvertion
            content="Composto apenas por algas e envasado em cápsulas veganas."
            title="100% vegetal"
          >
            <VeganIcon
              slot="icon"
              className="h-8 w-full text-primary 2xl:h-14"
            />
          </Benefit>

          <Benefit
            horizontalInvertion
            content="O DHA vegano é um ácido graxo de cadeia longa, que é diferente do ALA presente na linhaça e na chia."
            title="Alta concentração de dha"
          >
            <BrainIcon
              slot="icon"
              className="h-8 w-full text-primary 2xl:h-14"
            />
          </Benefit>
        </div>
      </div>
      <Picture
        src={omega3}
        alt="omega-3"
        class="h-44 w-44 transition-all duration-200 ease-linear lg:h-[300px] lg:w-[300px] xl:h-[350px] xl:w-[350px] 2xl:h-[500px] 2xl:w-[500px]"
      />
    </div>
  </div>
</section>
