---
import Benefit from "./Benefit.astro";
import { Picture } from "astro:assets";
import {
  LuDna,
  LuFlaskConicalOff,
  LuMilk,
  LuWheat,
  LuRecycle,
  LuVegan,
  LuBrain,
} from "@qwikest/icons/lucide";

import whey from "../../public/whey.png";
import omega3 from "../../public/omega.png";
---

<section class="w-full">
  <div class="h-screen flex flex-col items-center justify-center gap-8">
    <h1 class="text-center text-xl lg:text-3xl">
      Sobre o <span class="text-primary font-bold">Whey Protein</span>
    </h1>
    <div
      class="w-full justify-center items-center flex 2xl:flex-row flex-col gap-6"
    >
      <Picture
        src={whey}
        alt="whey"
        class="w-44 h-44 lg:h-[300px] lg:w-[300px] xl:w-[350px] xl:h-[350px] 2xl:h-[500px] 2xl:w-[500px] transition-all duration-200 ease-linear"
      />

      <div class="flex lg:flex-row flex-col gap-12">
        <div class="flex flex-col gap-12">
          <Benefit
            title="Aminoácidos imbatíveis"
            content="5,0g de BCAAs; 2,5g de glutamina, 2,5g de leucina, por dose."
          >
            <LuDna slot="icon" class="h-8 2xl:h-14 w-full text-primary" />
          </Benefit>
          <Benefit
            title="Sem aditivos"
            content="Não contém goma xantana, complexos vitamínicos à base de maltodextrina, espessantes, estabilizantes, conservantes ou qualquer outro ingrediente inferior."
          >
            <LuFlaskConicalOff
              slot="icon"
              class="h-8 2xl:h-14 w-full text-primary"
            />
          </Benefit>
        </div>

        <div class="flex flex-col gap-12">
          <Benefit
            content="Possui um perfil nutricional completo e um sabor real."
            title="Proteína concentrada"
          >
            <LuMilk slot="icon" class="h-8 2xl:h-14 w-full text-primary" />
          </Benefit>

          <Benefit
            content="Valores nutricionais robustos, sem excessos, com quantidades ideais de carboidratos e gorduras do leite."
            title="Produzida sob-medida"
          >
            <LuWheat slot="icon" class="h-8 2xl:h-14 w-full text-primary" />
          </Benefit>
        </div>
      </div>
    </div>
  </div>

  <!--  -->

  <div class="h-screen flex flex-col items-center justify-center gap-8">
    <h1 class="text-center text-xl lg:text-3xl">
      Sobre o <span class="text-primary font-bold">Omega 3</span>
    </h1>
    <div
      class="w-full justify-center items-center flex 2xl:flex-row flex-col flex-col-reverse gap-6"
    >
      <div class="flex lg:flex-row flex-col gap-12">
        <div class="flex flex-col gap-12">
          <Benefit
            horizontalInvertion
            title="Sustentável"
            content="O ômega 3 vegano da alga Schizochytrium tem a mesma molécula encontrada em outras fontes de ômega 3, como o óleo de peixes, moluscos e crustáceos."
          >
            <LuRecycle slot="icon" class="h-8 2xl:h-14 w-full text-primary" />
          </Benefit>
          <Benefit
            horizontalInvertion
            title="Livre de contaminantes"
            content="Feito por meio de um processo biotecnológico avançado em ambiente controlado."
          >
            <LuFlaskConicalOff
              slot="icon"
              class="h-8 2xl:h-14 w-full text-primary"
            />
          </Benefit>
        </div>

        <div class="flex flex-col gap-12">
          <Benefit
            horizontalInvertion
            content="Composto apenas por algas e envasado em cápsulas veganas."
            title="100% vegetal"
          >
            <LuVegan slot="icon" class="h-8 2xl:h-14 w-full text-primary" />
          </Benefit>

          <Benefit
            horizontalInvertion
            content="O DHA vegano é um ácido graxo de cadeia longa, que é diferente do ALA presente na linhaça e na chia."
            title="Alta concentração de dha"
          >
            <LuBrain slot="icon" class="h-8 2xl:h-14 w-full text-primary" />
          </Benefit>
        </div>
      </div>
      <Picture
        src={omega3}
        alt="omega-3"
        class="w-44 h-44 lg:h-[300px] lg:w-[300px] xl:w-[350px] xl:h-[350px] 2xl:h-[500px] 2xl:w-[500px] transition-all duration-200 ease-linear"
      />
    </div>
  </div>
</section>
